<style>
  .nav_danger_btn{
      color: white;
      text-decoration: none
  }
  .nav_danger_btn:hover {
    color: white;
  }
  a:hover {
    text-decoration-line: underline;
    text-decoration-color: green;  
    border-left: 5px solid green;
  }
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style= "color:">All Networks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <% if current_page?('/') %>
                <%# if home page is active then %>
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              <% else %>
                <%# if home page is not active then %>
                <a class="nav-link"  aria-current="page" href="/">Home</a>
              <% end %>
            </li>

            <li class="nav-item">
              <% if current_page?('/projects') %>
                <%# if prroject page is active then %>
                <a class="nav-link active" href="/packages">Packages</a>
              <% else %>
                <%# if prroject page is not active then %>
                <a class="nav-link"  aria-current="page" href="/packages">Packages</a>
              <% end %>
            </li>
            <li class="nav-item"><%= render partial: 'layouts/profile' %></li>
          </ul>
        </div>
        <div>
          <%# <%= render partial: 'layouts/profile' %>
          <%# <div class="d-grid ms-2 gap-2 d-md-block">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
          </div> %>
        </div>
      </div>
    </div>
	</nav>
<body>
